<h2>Create a New Product</h>

<%= render partial: '/errors', locals: { record: @product } %>

<%= form_for @product do |f| %>
   <p> <%= f.label :brand %>
   <%= f.text_field :brand %> </p>
   <p><%= f.label :title %>
   <%= f.text_field :title %></p>
   <p><%= f.label :category %>
   <%= f.text_field :category %></p>
   <p><%= f.submit "Create Product and Add Review" %> </p>
<% end %>