<!DOCTYPE html>
<html>
<head>
<title>Reviews</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
   <navbar>
      <%= render 'layouts/navbar' %>
   </navbar>
   <main class="wrapper">
      <%= yield %>
      </main>
  </body>
</html>
